<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DevCor.Properties.Settings.DevCorDBConnectionString"
            connectionString="Data Source=DevCorDB.mssql.somee.com;Initial Catalog=DevCorDB;User ID=Lindet_SQLLogin_1;Password=1n9a62ed7z"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>